@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
:root {
    --bg-color:hsl(0, 0%, 95%);
    --roboto-font :'Roboto', sans-serif;
    --facebook-color : hsl(220, 48%, 37%);
    --white-color:white;
    --main-color:hsl(220, 41%, 11%);
    --black-color:rgba(2, 1, 1, 0.938);
}
html{
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    font-family: var(--roboto-font);
    overflow-x: hidden;
}
.container {
    width: 95%;
    margin: 0 auto;
}
/* login design  */


.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login_container {
    width: 250px;
    height: auto;
}
.login .login_container #title {
    text-align: center;
    font-weight: 500;
}
.login .login_container .facebook ,
.login .login_container .google
{
    display: flex;
    height: 40px;
    align-items: center;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    box-shadow: 0px 1px 1px 1px hsl(0, 0%, 88%);
    cursor: pointer;
    border-radius: 2px;
}

.login .login_container .facebook {
    background-color: var(--facebook-color);
    color: var(--white-color);
}
.login .login_container .google {
    background-color: var(--white-color);
    color: var(--black-color);
}
.login .login_container .facebook img , 
.login .login_container .google img {
    width: 20px;
    height: 20px;
}




/* navbar design  */


nav {
    box-shadow: 2px 0px 3px 3px hsl(0, 0%, 90%);
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(30px);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;

}

nav .nav_wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_wrapper .logo a {
    color: var(--black-color);
    font-size: 22px;
}
nav .nav_wrapper .info {
    cursor: pointer;
    position: relative;
}
nav .nav_wrapper .info .links{
    /* background-color: red; */
    border-radius: 4px;
    display: none;
    position: absolute;
    width: 200px;
    /* left: -100%; */
    right: 0;
    top: 50px;
    box-shadow: 2px 0px 3px 3px hsl(0, 0%, 90%);
    padding: 10px 0;
    background-color: var(--white-color);
    backdrop-filter: blur(30px);
}
nav .nav_wrapper .info .links li {
    padding: 10px 15px;
    margin: 5px 0;
}
nav .nav_wrapper .info .links li:hover{
    background-color: var(--main-color);
}
nav .nav_wrapper .info .links li:hover a{
    color:var(--white-color);
}

nav .nav_wrapper .info .links li  a{
    color: var(--black-color);
    display: block;
}
nav .nav_wrapper .info .links.active {
    display: block;
}
nav .nav_wrapper .info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
nav .nav_wrapper .login_icon {
    position: relative;
}
nav .nav_wrapper .login_icon i {
    font-size: 20px;
    cursor: pointer;
}
nav .nav_wrapper .login_icon .login_links {
    border-radius: 4px;
    display: none;
    position: absolute;
    width: 200px;
    /* left: -100%; */
    right: 0;
    top: 50px;
    box-shadow: 2px 0px 3px 3px hsl(0, 0%, 90%);
    padding: 10px 0;
    background-color: var(--white-color);
    backdrop-filter: blur(30px);
}
nav .nav_wrapper .login_icon .login_links li {
    padding: 10px 15px;
    margin: 5px 0;
}
nav .nav_wrapper .login_icon .login_links li:hover{
    background-color: var(--main-color);
}
nav .nav_wrapper .login_icon .login_links li:hover a{
    color:var(--white-color);
}

nav .nav_wrapper .login_icon .login_links li  a{
    color: var(--black-color);
    display: block;
}
nav .nav_wrapper .login_icon .login_links.active {
    display: block;
}
#close {
    width: 100vw;
    height: 100vh;
    background-color: red;
}
/* main container design  */

main {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    /* border-left: 1px solid rgba(0, 0, 0, 0.644);
    border-right: 1px solid rgba(0, 0, 0, 0.63); */
}
main .main_container {
    width: 90%;
    margin: 0 auto;
}
main  .main_item {
    max-height: 500px;
    background-color: rgb(245, 245, 245);
    padding:  10px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: .5px 0px 1px 2px rgba(184, 184, 184, 0.192);
}
main  .main_item  .main_item_topbar {
    display: flex;
    margin: 10px 0;
}
main  .main_item  .main_item_topbar  .left{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    font-weight: 400;
}
main  .main_item  .main_item_topbar .left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
main  .main_item  .main_item_title {
    margin: 10px 0;
}
main  .main_item  .main_item_title  h3{
    font-weight: 500;
}
main  .main_item .main_item_image  {
    cursor: pointer;
    padding: 10px;
}
main  .main_item .main_item_image  img {
    max-height: 400px;
    object-fit: cover;
    transition: .4s ease;
}
main  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
main  .pagination  ul {
    display: flex;
    gap: 10px;
}
main  .pagination  ul li {
    /* padding: 10px 15px ; */
    background-color: var(--main-color);
}

main  .pagination  ul li a {
    color: var(--white-color);
    display: block;
    padding: 10px 15px ;
}









z


/* blog section design */

section.blog{
    max-width: 100vw;
    height: calc(100vh - 60px);
    /* padding: 20px; */
}
section.blog .blog_container {
    margin: 0 auto;
}
section.blog .blog_wrapper .left {
    padding: 5px ;
    display: none;
    /* width: 100vw; */
    /* background-color: var(--main-color); */
}
section.blog .blog_wrapper .left .user_info .left{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
section.blog .blog_wrapper .left .user_info .image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
section.blog .blog_wrapper .left .name{
    display: inline;
    font-weight: 500;
}
section.blog .blog_wrapper > .right{
    padding-bottom: 30px;
}
section.blog .blog_wrapper > .right .right_container {
    padding: 0 20px;
}
section.blog .blog_wrapper > .right .image {
    margin: 20px 0;
}
section.blog .blog_wrapper > .right .title {
    margin: 10px 0;
}
section.blog .blog_wrapper > .right .date {
    margin: 10px 0;
}
section.blog .blog_wrapper > .right .content .ql-syntax {
    max-width: 100%;
    overflow-x: scroll;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 20px;
}
section.blog .blog_wrapper > .right .user_info {
    margin: 30px auto;
    width: 100vw;
    background-color: var(--main-color);
    padding: 20px;
    color: var(--white-color);
}
section.blog .blog_wrapper > .right .user_info .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}
section.blog .blog_wrapper > .right .user_info .name {
    margin: 15px 0;
}
section.blog .blog_wrapper > .right .comment_box {
    padding: 0 10px;
}
section.blog .blog_wrapper > .right .comment_box h4{
    margin: 10px 0;
}
section.blog .blog_wrapper > .right .comment_box button.comment_btn{
    margin: 10px 0;
    padding: 10px 20px;
    color: var(--white-color);
    background: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
}
section.blog .blog_wrapper > .right .all_comment {
    margin: 20px 0;
    padding: 0 10px;
}
section.blog .blog_wrapper > .right .all_comment .single_comment {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid var(--main-color);
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details {
    position: relative;
    padding: 0 10px;
    box-shadow: .5px 0px 1px 2px rgba(184, 184, 184, 0.192);
    width: 100%;
    min-height: 100px;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon:hover i {
    scale: 1.10;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon .sub_menu {
    display: none;
    position: absolute;
    right: 0px;
    width: 150px;
    /* height: 80px; */
    box-shadow: .5px 0px 1px 2px rgba(184, 184, 184, 0.192);
    background-color: var(--white-color);
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon .sub_menu.active{
    display: block;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon .sub_menu li {
    padding: 10px;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon .sub_menu li:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .icon > i {
    font-size: 20px;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .topbar {
    display: flex;
    gap: 8px;
    align-items: center;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .topbar .date {
    font-size: 12px;
}
section.blog .blog_wrapper > .right .all_comment .single_comment .details .comment_text {
    margin-bottom: 10px;
}
#commentBox {
    height: 100px;
}

/* new blog */
.new_blog {
    margin-top: 50px;
}
.new_blog_container {
    padding: 0 30px;
}
.new_blog .image {
    position: relative;
    margin: 20px 0;
}
.new_blog .image button {
    padding: 10px 15px;
}
.new_blog .image input[type='file']{
    position: absolute;
    left: 0;
    padding: 10px 15px;
    opacity: 0;
    /* visibility: hidden; */
}
.new_blog .show_image {
    max-width: 500px;
    max-height: 200px;
}
.new_blog .title {
    margin: 20px 0;
}
.new_blog .title textarea {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all;
    height: 100px;
    width: 100%;
    font-weight: 500;
}

#editor {
    height: 300px;
    margin-bottom: 50px;
}

.new_blog .submit {
    margin-bottom: 100px;
}
.new_blog .submit  button.submit_btn {
    padding: 10px 50px;
    color: var(--black-color);
    cursor: pointer;
}
.new_blog .submit  button.submit_btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}



/* profile desigm */

section.profile{
    width: 100vw;
}
section.profile  .title {
   position: relative;
}
section.profile .title::after{
    content: '';
    width: 110%;
    height: 2px;
    position: absolute;
    background-color: var(--main-color);
    top: 100%;
    left: 0;
}
section .profile_container{
    width: 95%;
    margin: 50px auto;
}

section .profile_wrapper {
    
    
}
section .profile_wrapper  .left {
    border-bottom: 1px solid var(--main-color);
    padding: 20px;
    margin-bottom: 30px;
}
section .profile_wrapper  .left .image{
    width: 100%;
    height: 250px;
}
section .profile_wrapper  .left .image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
section .profile_wrapper  .left .name h2{
    margin: 8px 0;
}


section .profile_wrapper  .right .image_upload_button {
    position: relative;
    cursor: pointer;
}
section .profile_wrapper  .right .image_upload_button input[type='file']{
    position: absolute;
    top: 10px;
    width: 100%;
    left: 10px;
    opacity: 0;
}
section .profile_wrapper  .right .image_upload_button button {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    background-color: var(--white-color);
    color: var(--black-color);
    outline: none;
    border: 1px solid var(--black-color);
}
section .profile_wrapper  .right .name_change ,
section .profile_wrapper  .right .bio_change {
    width: 100%;
    margin: 10px 0;
}
section .profile_wrapper  .right .name_change  input,
section .profile_wrapper  .right .bio_change textarea{
    width: 100%;
    outline: none;
    padding: 15px 10px;
    resize: none;
}
section .profile_wrapper  .right .bio_change p {
    margin: 10px 0;
}
section .profile_wrapper  .right .update_button button {
    width: 200px;
    height: 40px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--white-color);
    outline: none;
    border: 1px solid var(--black-color);
    cursor: pointer;
}